.container{
  background-color: #10151B;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  line-height: .95;
  color: #ef4064;
  font-weight: 900;
  font-size: 7vw;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

